.card-title{
  margin: 0;
}

.jumbotron:hover {
  transition: all 0.5s;
  transform: scale(1.05);
}

.card:hover {
  transition: all 0.5s;
  transform: scale(1.05);
}

.list-group-item:hover {
  font-weight: bold;
}
