<div class="container">
    <div class="background">
      <div class="jumbotron">
        <div class="row">
          <div class="pitch">
              <p class="lead">
                After graduating from NYU Stern School of Business
                I spent several years in the financial industry until early 2019.
                What began as a hobby became an obsession when I decided to
                spend full time learning everything I could about software development.
                After completing an immersive coding program, I continue to build projects and develop my skills,
                focusing on the .Net and Angular frameworks.
              </p>
              <p>Click <a [routerLink]='["/work"]'>here</a> to see my most recent projects!</p>
          </div>
        </div>
      </div>
  </div>
  <div class="skills">
        <div class="row">
            <div class="col-sm">
              <div class="card">
                  <div class="card-body text-center">
                      <h5 class="card-title">Languages</h5>
                  </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">C#</li>
                    <li class="list-group-item">JavaScript</li>
                    <li class="list-group-item">Python</li>
                    <li class="list-group-item">HTML</li>
                    <li class="list-group-item">CSS</li>
                </ul>
              </div>
            </div>
            <div class="col-sm">
              <div class="card">
                  <div class="card-body text-center">
                      <h5 class="card-title">Frameworks</h5>
                  </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">.Net Core</li>
                    <li class="list-group-item">Angular</li>
                    <li class="list-group-item">Django</li>
                    <li class="list-group-item">Flask</li>
                </ul>
              </div>
            </div>
            <div class="col-sm">
              <div class="card">
                  <div class="card-body text-center">
                      <h5 class="card-title">Concepts</h5>
                  </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">OOP</li>
                    <li class="list-group-item">MVC</li>
                    <li class="list-group-item">RESTful</li>
                    <li class="list-group-item">Agile</li>
                </ul>
              </div>
            </div>
            <div class="col-sm">
              <div class="card">
                  <div class="card-body text-center">
                      <h5 class="card-title">Databases</h5>
                  </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">MySQL</li>
                    <li class="list-group-item">MongoDB</li>
                </ul>
              </div>
            </div>
            <div class="col-sm">
              <div class="card">
                  <div class="card-body text-center">
                      <h5 class="card-title">Tools / Libraries</h5>
                  </div>
                <ul class="list-group list-group-flush text-center">
                    <li class="list-group-item">Git</li>
                    <li class="list-group-item">AWS</li>
                    <li class="list-group-item">Azure</li>
                    <li class="list-group-item">Docker</li>
                    <li class="list-group-item">Node.js</li>
                    <li class="list-group-item">Express</li>
                    <li class="list-group-item">JQuery</li>
                    <li class="list-group-item">Bootstrap</li>
                </ul>
              </div>
            </div>
        </div>
  </div>
</div>

