a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.nav-link:hover {
  font-weight: bold;
}
.github {
  margin: 5px;
  border-radius: 100px;
  width:20px;
  background: radial-gradient(circle, white 60%, transparent 61%);
}
.linkedin {
  margin: 5px;
  border-radius: 5px;
  width:20px;
}
