<div class="container">
  <div class="jumbotron">
    <div class="row">
        <div class="work-info col-sm">
            <p class="lead">With every project I work on I make sure to take on new challenges and develop my skills.
              My journey began with flask then Django to learn the basics of OOP and ORM.
              I continued to the MEAN stack where I learned the power of components and lightwight database design.
              Today I continue building projects with Angular and .Net to create powerful yet easy to use web applications.</p>
        </div>
    </div>
  </div>
  <div class="row">
      <div class="col-sm">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item">
              <a href="#" class="card-link">Card link</a>
              <a href="#" class="card-link">Another link</a>
            </li>
          </ul>
          <div class="card-body text-center">
            <h5 class="card-title">YouTube for Education</h5>
            <p class="card-text">An app that allows users to create courses with YouTube videos and add quizes.</p>
          </div>
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item">Angular .Net socket.io</li>
          </ul>
        </div>
      </div>
      <div class="col-sm">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <ul class="list-group list-group-flush text-center">
              <li class="list-group-item">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </li>
            </ul>
            <div class="card-body text-center">
              <h5 class="card-title">Chat Application</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush text-center">
              <li class="list-group-item">Angular .Net socket.io</li>
            </ul>
          </div>
      </div>
      <div class="col-sm">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <ul class="list-group list-group-flush text-center">
              <li class="list-group-item">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </li>
            </ul>
            <div class="card-body text-center">
              <h5 class="card-title">Chat Application</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
            <ul class="list-group list-group-flush text-center">
              <li class="list-group-item">Angular .Net socket.io</li>
            </ul>
          </div>
      </div>
  </div>
</div>
