.jumbotron:hover {
  transition: all 0.5s ease;
  transform: scale(1.05);
}

.django {
  background-image: url('/assets/img/linkedin.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.card {
  color: rgba(0, 0, 0, 0.25);
}

.card:hover {
  background-image: none;
  color: rgba(0, 0, 0, 1);
}
