.django {
  background-image: url('/assets/img/django_app.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.mean {
  background-image: url('/assets/img/chat_app.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.bugtracker {
  background-image: url('/assets/img/bug_app.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.card-body {
  color: rgba(0, 0, 0, 0);
}

.card a {
  color: inherit;
  cursor: pointer;
}

.jumbotron:hover {
  transition: all 0.5s ease;
  transform: scale(1.05);
}

.no-touch, .card-body:hover, .card-body:focus, .card-body:active, .card-body:target {
  background-image: none;
  color: rgba(0, 0, 0, 1);
}

a.disabled {
  pointer-events: none;
  cursor: default;
}
