<div class="container">
  <div class="jumbotron">
    <div class="row">
        <div class="work-info col-sm">
            <p class="lead">With every project I take on new challenges to advance my skills.
              My journey began with flask, then Django to learn the basics of OOP and ORM.
              I continued to the MEAN stack where I learned the power of components and lightweight database design.
              Today I'm building projects with Angular and .Net to create powerful, scalable, and responsive web applications.</p>
              <p class="lead">Although I have completed numerous tutorials and assignments that can be viewed on my
                <a href="https://github.com/johnmweisz" target="_blank">GitHub</a>, you can find my top projects below.
                Please <a [routerLink]='["/contact"]'>contact</a> me to learn more!</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card-deck">
          <div class="card text-center bg-transparent">
            <div class="card-header bg-transparent">
              <a class="card-link disabled" target="_blank" onclick="return false">In Development</a>
              <a href="https://github.com/johnmweisz/.Net-Angular_Bug_Tracker" target="_blank" class="card-link">See Code</a>
            </div>
            <div class="card-body bg-transparent bugtracker">
              <h5 class="card-title">Bug Tracker</h5>
              <p class="card-text">Platform for project teams to manage bug tracking</p>
              <div class="card-footer border-0 bg-transparent">
                <p class="card-text">.Net Core Angular MySQL</p>
              </div>
            </div>
          </div>
          <div class="card text-center bg-transparent">
            <div class="card-header bg-transparent">
              <a href="http://13.58.45.179" target="_blank" class="card-link">See App</a>
              <a href="https://github.com/johnmweisz/MEAN_Socket_Chat_App" target="_blank" class="card-link">See Code</a>
            </div>
            <div class="card-body bg-transparent mean">
              <h5 class="card-title">Chat Application</h5>
              <p class="card-text">Allows users to CRUD chat rooms and send messages through a web socket.</p>
              <div class="card-footer bg-transparent border-0">
                <p class="card-text">MongoDB Express Angular Node.js</p>
              </div>
            </div>
          </div>
          <div class="card text-center bg-transparent">
            <div class="card-header bg-transparent">
              <a href="http://18.222.216.204/" target="_blank" class="card-link">See App</a>
              <a href="https://github.com/johnmweisz/Django_YouTube_Education_App" target="_blank" class="card-link">See Code</a>
            </div>
            <div class="card-body bg-transparent django">
              <h5 class="card-title">Education Application</h5>
              <p class="card-text">Enables creators to integrate YouTube videos into courses and add quizzes for students.</p>
              <div class="card-footer bg-transparent border-0">
                <p class="card-text">Django MySQL YouTube API</p>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
