<div class="container">
  <div class="jumbotron">
    <div class="row">
        <div class="work-info col-sm">
            <p class="lead">With every project I work on I make sure to take on new challenges and develop my skills.
              My journey began with flask then Django to learn the basics of OOP and ORM.
              I continued to the MEAN stack where I learned the power of components and lightwight database design.
              Today I continue building projects with Angular and .Net to create powerful yet easy to use web applications.</p>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card-deck">
          <div class="card border-0 text-center bg-transparent django">
            <div class="card-header bg-transparent border-0">
              <a href="#" class="card-link">see app</a>
              <a href="#" class="card-link">see code</a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Chat Application</h5>
              <p class="card-text">An App that allows users to CRUD chat rooms and add admins.</p>
            </div>
            <div class="card-footer bg-transparent border-0">
              <p class="card-text">.Net Core Angular MySQL</p>
            </div>
          </div>
          <div class="card border-0 text-center bg-transparent django">
            <div class="card-header bg-transparent border-0">
              <a href="#" class="card-link">see app</a>
              <a href="#" class="card-link">see code</a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Chat Application</h5>
              <p class="card-text">An App that allows users to CRUD chat rooms and add admins.</p>
            </div>
            <div class="card-footer bg-transparent border-0">
              <p class="card-text">.Net Core Angular MySQL</p>
            </div>
          </div>
          <div class="card border-0 text-center bg-transparent django">
            <div class="card-header bg-transparent border-0">
              <a href="#" class="card-link">see app</a>
              <a href="#" class="card-link">see code</a>
            </div>
            <div class="card-body">
              <h5 class="card-title">Chat Application</h5>
              <p class="card-text">An App that allows users to CRUD chat rooms and add admins.</p>
            </div>
            <div class="card-footer bg-transparent border-0">
              <p class="card-text">.Net Core Angular MySQL</p>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
